CIFAR/data/CIFAR10*
CIFAR/data/CIFAR100*
CIFAR/data/CIFAR-10-C*
CIFAR/data/IMAGENET*
CIFAR/wandb
__pycache__
# CIFAR10_out 
CIFAR/log_slurm
CIFAR/results
CoLA
IMDB
CIFAR/data/train
CIFAR/data/val
CIFAR/data/Imagenet*