CIFAR/data/CIFAR10*
CIFAR/data/CIFAR100*
CIFAR/data/CIFAR-10-C*
CIFAR/wandb
__pycache__
CIFAR/log_slurm
CIFAR/results
CoLA/data
CoLA/wandb
CoLA/log_slurm
CoLA/results
IMDB/data
IMDB/wandb
IMDB/log_slurm
IMDB/results
