pip install torch==2.4.1 torchvision==0.19.1 torchaudio==2.4.1 --index-url https://download.pytorch.org/whl/cu121
pip install scikit-learn
pip install warmup_scheduler
pip install wandb
pip install einops
pip install timm
pip install transformers
pip install peft